# Environment Variables & Secrets
.env
*.env
*.env.*
*.env.local
**/.env
**/.env.*
*.tfvars
*.tfvars.json
**/*.tfvars
*.tfstate
*.tfstate.*
**/*.tfstate*
.terraform/
**/.terraform/
.terraform.lock.hcl
**/.terraform.lock.hcl


# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/
backend/uploads/
lambda_dist/
*.zip
response.json

# Node / Next.js
node_modules/
.next/
.firebase/
out/
build/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
